.card-img-top {
    width: 100%;
    height: auto;
}

.card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-body .d-flex {
    flex-grow: 1;
}

.card-body .d-flex span {
    margin-right: 10px;
}